<!DOCTYPE html>
{% load static %}{%load mathfilters %}{%load humanize%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
    <link href="{% static 'styles.css' %}" rel="stylesheet" type="text/css" />
    <title>About Page</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img src="{% static 'images/ecocar.png' %}" class="img-responsive logo mb-1 mt-1" />
        
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'home' %}?clear=true" class="nav-link">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link active" href="{% url 'about' %}">About</a>
                </li>
            </ul>
        
    </nav>

   

        
   

    <div class="container mt-5">
        <section class="my-4">
        <h2>About</h2>
        <p>My name is Trevor Lachman, and I've created this space to share insights and knowledge about eco-friendly vehicles. My goal is to help you research and select cars that have a positive environmental impact. Here I provide comprehensive information to assist you in making informed choices about eco-friendly vehicles.</p>
        </section>  

        <section class="my-4">
            <h2>Mission</h2>
            <p>The mission is to empower consumers by providing detailed, accessible, and reliable information on the environmental performance of vehicles. My mission is to facilitate a shift towards more sustainable transportation options.</p>
        </section>
    
        <section class="my-4">
            <h2>Commitment</h2>
            <p>Here we make sure to highlight cars that are leading the way in fuel efficiency and lower emissions. This website is commited to promoting choices that benefit both the planet and your lifestyle.</p>
        </section>
    

        <section class="my-4">
            <h2>Contact Information</h2>
            <p>If you have any questions or would like to discuss eco-friendly vehicles further, please don't hesitate to reach out via email. I am always open to discussions and inquiries related to sustainable transportation.</p>
            <ul>
                <li><strong>Email:</strong> <a href="mailto:tal225@lehigh.edu">tal225@lehigh.edu</a></li>
            </ul>
        </section>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl4wlz7bp3qhhWrxl6q8nKOB2l3w5vKzTRizh5Xn/1" crossorigin="anonymous"></script>

</body>

</html>
